* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    height: 200px;
    margin: 20px;
    padding: 10px 10%;
}

.form > div {
    margin: 0px 10px;
}

input {
    border-radius: 5px;
}
